<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Permisos | Aprobaciones</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PERMISOS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_permission_base_endpoint')}}">
            <i class="align-middle" data-feather="check-square"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--login form-->
{% block container %}
<div class="mb-3">

    <div class="row">
        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Permisos</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="check-square"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles de las solicitudes de permisos registrada junto con
                            su respectivo estatus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!--Filter By Date Field-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body" style="width: 25%;">
                    <form id="id_filter_date_form" novalidate>
                        <div class="mb-2">
                            <h5 class="card-title mb-2">Consular por cédula de identificación</h5>
                            <input type="text" class="form-control" style="font-size: 12px; color: cadetblue;" required
                                placeholder="---" name="entity_identification" id="id_input_field">
                            <div id="identification_text" class="form-text text-start">
                                <span class="text-muted">
                                    <p class="my-2" style="color: brown; font-size: 12px;">
                                        • Ingresar números únicamente.
                                    </p>
                                </span>
                            </div>
                            <button class="btn btn-primary mt-2" type="button" id="id_filter_button">
                                Consultar
                            </button>
                            <button class="btn btn-secondary mt-2" type="reset" id="id_reset_button">
                                Limpiar Campo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Breakdown Table-->
        <div class="col">
            <div class="col align-self-start text-start mt-3">
                <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Cod Registro</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Retorno</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Horas</th>
                            <th scope="col">Días</th>
                            <th scope="col">Estado</th>
                            <th scope="col" colspan="2" style="text-align: center; vertical-align: middle;">Administrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                            <tr>
                                <th scope="row"><b></b>{{ item }}</th>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_permission_approvals_update_endpoint', id=item)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Actualizar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
