<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Permisos</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--login form-->
{% block container %}
<div class="mb-3">

    <div class="row">
        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Permisos</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="check-square"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles de las solicitudes de permisos registrada junto con
                            su respectivo estatus. El reporte puede ser descargado en formato Excel (.csv).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body" style="width: 25%;">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">
                            <span data-feather="folder" class="feather-lg me-1" style="color: cadetblue;"></span>
                            <a href="{{url_for('getting_app_permission_extra_hours_base_endpoint')}}">
                                Solicitud de horas extra</a>
                        </li>
                        <li class="mb-3">
                            <span data-feather="folder" class="feather-lg me-1" style="color: cadetblue;"></span>
                            <a href="#">
                                Solicitud de vacaciones</a>
                        </li>
                        <li class="mb-3">
                            <span data-feather="folder" class="feather-lg me-1" style="color: darkblue;"></span>
                            <a href="#">
                                Aprobaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
