<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Permisos</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_extra_insert" %}
        <div class="px-1 pt-2">
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>{{params.ops._permission._extrahour._create}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif  params.fg == "_extra_update" %}
        <div class="px-1 pt-2">
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{params.ops._permission._extrahour._update}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif  params.fg == "_vaca_insert" %}
        <div class="px-1 pt-2">
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>{{params.ops._permission._vacations._create}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif  params.fg == "_vaca_update" %}
        <div class="px-1 pt-2">
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{params.ops._permission._vacations._update}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--login form-->
{% block container %}
<div class="mb-3">

    <div class="row">
        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Permisos</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="check-square"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles de las solicitudes de permisos registrada junto con
                            su respectivo estatus. El reporte puede ser descargado en formato Excel (.csv).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Select an Option for Permissions-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body" style="width: 25%;">
                    <div class="flex-grow-1">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3">
                                <span data-feather="folder" class="feather-lg me-1" style="color: cadetblue;"></span>
                                <a href="{{url_for('getting_app_permission_extra_hour_create_endpoint')}}">
                                    Solicitud de horas extra</a>
                            </li>
                            <li class="mb-3">
                                <span data-feather="folder" class="feather-lg me-1" style="color: cadetblue;"></span>
                                <a href="{{url_for('getting_app_permission_vacation_create_endpoint')}}">
                                    Solicitud de vacaciones</a>
                            </li>
                            <li class="mb-3">
                                <span data-feather="folder" class="feather-lg me-1" style="color: darkblue;"></span>
                                <a href="{{url_for('getting_app_permission_approvals_endpoint')}}">
                                    Aprobaciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!--Filter By Date Field-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body" style="width: 25%;">
                    <form id="id_filter_date_form" novalidate>
                        <div class="mb-2">
                            <h5 class="card-title mb-2">Consular por estado de permiso</h5>
                            <select class="form-select mb-2" style="font-size: 12px; color: cadetblue;"
                                    aria-label="Default select example" name="item_status" id="id_input_field">
                                <option value="En Proceso" selected>En Proceso</option>
                                <option value="Aprobado">Aprobado</option>
                                <option value="Rechazado">Rechazado</option>
                            </select>
                            <button class="btn btn-primary mt-2" type="button" id="id_filter_button">
                                Consultar
                            </button>
                            <button class="btn btn-secondary mt-2" type="reset" id="id_reset_button">
                                Limpiar Campo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Breakdown Table-->
        <div class="col">
            <div class="col align-self-start text-start mt-3">
                <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Cod Registro</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Retorno</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Horas</th>
                            <th scope="col">Días</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                            <tr>
                                <th scope="row"><b></b>{{ item }}</th>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                                <td>{{ item }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
