<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Liquidaciones | Detalles</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>LIQUIDACIONES</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_settlement_base_endpoint')}}">
            <i class="align-middle" data-feather="folder-minus"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">

    <div class="row">

        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Liquidación</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="credit-card"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles liquidación junto sus respectivos desgloces
                            por ley y/o conceptos varios. El reporte puede ser descargado en formato PDF.
                        </div>
                        <!--Download PDF Button-->
                        <form>

                        </form>
                        <a class="mb-3 px-3 text-end"
                           href="{{ url_for('posting_app_settlement_details_pdf_endpoint', id=params.id)}}">
                            <button class="btn btn-secondary" type="button">Descargar PDF</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row g-4">

        <!-- Resumen de Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Resumen de Liquidación</h5>

                    <!-- Gross & Net -->
                    <div class="mb-4 fs-6">
                        <p class="mb-2"><strong>Monto Total Generado:</strong>
                            {{ "{:,.2f}".format(params.record._total_amount) }} CRC
                        </p>
                    </div>

                    <hr>

                    <!-- Deductions -->
                    <h6 class="text-uppercase text-muted mb-3 fs-6">Otros Montos</h6>
                    <ul class="list-unstyled fs-6 mb-4">
                        <li class="mb-2"><b>Cesantia</b> {{ params.record._cesantia_amount }} </li>
                        <li class="mb-2"><b>Vacaciones</b> {{ params.record._vacations_amount }}  </li>
                        <li class="mb-2"><b>Aguinaldo</b> {{ params.record._bonus_amount }}  </li>
                        <li class="mb-2"><b>Salario Actual </b> {{ params.record._payroll_amount }}  </li>
                    </ul>

                    <hr>
                    <!-- Deductions -->
                    <h6 class="text-uppercase text-muted mb-3 fs-6">Detalles</h6>
                    <ul class="list-unstyled fs-6 mb-4">
                        <li class="mb-2"><b>Tipo Liquidación</b> {{ params.record._type.title() }} </li>
                        <li class="mb-2"><b>Estado</b> {{ params.record._status.title() }} </li>
                        <li class="mb-2"><b>Fecha Registro</b> {{ params.record._log_date.date() }} </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Detalles del Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Detalles Laborales</h5>

                    <ul class="list-unstyled fs-6 mb-0">
                        <li class="mb-2"><strong>Identificación:</strong>
                           {{ params.record._ident }} </li>
                        <li class="mb-2"><strong>Empleado:</strong>
                           {{ params.record._emp_name }} {{ params.record._emp_lastname }}
                            {{ params.record._emp_lastname2 }} </li>
                        <li class="mb-2"><strong>Jefatura:</strong>
                            {{ params.record._apr_name }} {{ params.record._apr_lastname }}
                            {{ params.record._apr_lastname2 }}
                        </li>
                        {% if not params.record._termination_date %}
                            <li class="mb-2"><strong>Fecha de Terminación:</strong>

                            </li>
                        {% else %}
                            <li class="mb-2"><strong>Fecha de Terminación:</strong>
                                {{ params.record._termination_date }}
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
