<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Solicitudes | Horas Extra | Actualizar </title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PERMISOS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_permission_extra_hours_base_endpoint')}}">
            <i class="align-middle" data-feather="check-square"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_ops_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._ops_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_orm_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._orm_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--login form-->
{% block container %}
<div class="mb-3">
    <div class="row">

        <!--Left Main Menu-->
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Actualización de Solicitud Horas Extra</h5>
                    </div>
                    <div class="card-body text-start">
                        <i class="align-start" data-feather="check-square"
                            style="color: darkblue; width: 25px; height: 25px;"></i>
                        Complete los campos requeridos en el formulario para actualizar solicitud de permiso de horas extra.
                        Es importante mantener esta información confidencial.
                    </div>
                </div>
            </div>
        </div>

        <!--Right Main Menu-->
        <div class="col-md-8 col-xl-9">
            <div class="card mb-3">
                <div class="card-body text-start">

                    <!--Hour Extra Form -->
                    <form id="id_hours_extra_update_form" method="post"
                          action="{{ url_for('posting_app_permission_extra_hours_update_endpoint') }}" novalidate>

                        <!--Hidden Fields-->
                        <input type="hidden" value="POST" name="method">
                        <input type="hidden" value="Horas Extra" name="request_hours">
                        <input type="hidden" value="{{ params.id }}" name="id">

                        <h5 class="card-title my-3 text-start"><strong>Horas Extra</strong></h5>

                        <!--Permission Status Field-->
                        <div class="py-1 text-start">
                            <label class="form-label text-center" style="color: #3371db;">Solicitud</label> *
                            <div class="input-group">
                                <select class="form-select" style="font-size: 12px; color: cadetblue;"
                                    aria-label="Default select example"
                                        name="permission_status_field" id="id_permission_status_field">
                                    <option value="not_select" selected>Seleccionar estado de solicitud</option>
                                    <option value="Aprobado">Aprobado</option>
                                    <option value="Rechazado">Rechazado</option>
                                </select>
                            </div>
                        </div>

                        <div id="id_status_not_selected_field_error" class="text-danger text-start"
                            style="font-size: 13px; display: none;">
                        </div>

                        <!--Confirm Check Field-->
                        <div class="d-flex justify-content-start align-items-start my-2 py-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="id_delete_switch_field"
                                    style="width: 40px; height: 20px;" name="delete_switch_field">
                                <label class="form-check-label px-2" for="id_delete_switch_field">
                                    <strong>CONFIRMAR</strong>
                                </label>
                            </div>
                        </div>

                        <div id="id_record_not_confirm_field_error" class="text-danger text-start"
                            style="font-size: 13px; display: none;">
                        </div>

                        <p style="color: brown;"><strong> * </strong>Campos obligatorios</p>

                        <!--Submit Form-->
                        <div class="d-grid gap-2 mt-3">
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        <b>ACTUALIZAR SOLICITUD</b>
                                    </button>
                                </div>
                                <div class="col text-start">
                                    <button class="btn btn-lg btn-secondary" type="reset">
                                        <b>LIMPIAR CAMPOS</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {EnableValidator} from '{{ url_for("static", path="tooling/validators/permission/enable.js") }}';
        document.addEventListener('DOMContentLoaded', () => {
            new EnableValidator('id_hours_extra_update_form');
        });
    </script>
{% endblock %}
