<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Incapacidades</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_register" %}
        <div class="px-1 pt-2">
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>{{params.ops._inability._create}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_update"%}
        <div class="px-1 pt-2">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{params.ops._inability._update}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">

    <div class="row">

        <!--Title-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Registro De Incapacidades</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="briefcase"
                            style="color: darkblue; width: 25px; height: 25px;"></i>
                            Consulta de histórico de incapacidades registradas por el empleado.
                        </div>
                            <!--Register Checkin Button-->
                        <a class="mb-3 px-3 text-end" href="{{url_for('getting_app_inability_register_endpoint')}}">
                            <button class="btn btn-info"><b>Registrar Incapacidad</b></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <!--Filter By Inability Status-->
        <div class="col">

            <div class="card mb-3">
                <div class="card-body" style="width: 25%;">
                    <form id="id_filter_date_form" novalidate>
                        <div class="mb-2">
                            <h5 class="card-title mb-2">Consular por estado de incapacidad</h5>
                            <select class="form-select mb-2" style="font-size: 12px; color: cadetblue;"
                                    aria-label="Default select example" name="item_status" id="id_input_field">
                                <option value="En Proceso" selected>En Proceso</option>
                                <option value="Aprobado">Aprobado</option>
                                <option value="Denegado">Denegado</option>
                            </select>
                            <button class="btn btn-primary mt-2" type="button" id="id_filter_button">
                                Consultar
                            </button>
                            <button class="btn btn-secondary mt-2" type="reset" id="id_reset_button">
                                Limpiar Campo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Breakdown Table-->
        <div class="col">
            <div class="col align-self-start text-start mt-3">
                <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Cod Registro</th>
                            <th scope="col">Nombre Empleado</th>
                            <th scope="col">Jefatura</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Fecha Retorno</th>
                            <th scope="col">Número Boleta</th>
                            <th scope="col">Estado</th>
                            <th scope="col" colspan="1"
                                style="text-align: center; vertical-align: middle;">Administrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in params.records %}
                            <tr>
                                <th scope="row"><b></b>{{ item._id }}</th>
                                <td>{{ item._subj_name }} {{ item._subj_lastname }} {{ item._subj_lastname2 }}</td>
                                <td>{{ item._appr_name }} {{ item._appr_lastname }} {{ item._appr_lastname2 }}</td>
                                <td>{{ item._start }}</td>
                                <td>{{ item._return }}</td>
                                <td>{{ item._doc_number }}</td>
                                <td>{{ item._status }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_inability_details_endpoint', id=item._id)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Detalles
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import { FilterSearching } from "{{url_for('static', path='tooling/utils/filtering.js')}}";
        document.addEventListener("DOMContentLoaded", () => {
            let filtering = new FilterSearching(
                {"input": "id_input_field", "search":"id_filter_button", "reset": "id_reset_button", "row": 7}
            );
        });
    </script>
{% endblock %}
