<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title_browser %}
    <title>Ferretería Santa Lucía | Mantenimientos | Redireccionando </title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="sliders"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--main-->
{% block container %}
<div class="mb-3">
    <div class="row">
        <!--Title and Filter-->
        <div class="col">
            <h4 class="p-2">Procesando información .. .. .. </h4>
            <div class="col-6 text-start">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {Redirecting} from "{{ url_for('static', path='tooling/utils/redirect.js') }}";
        document.addEventListener("DOMContentLoaded", () => {
            new Redirecting('{{params.domain}}', '{{params.redirect}}', '{{params.fg}}');
        });
    </script>
{% endblock %}
