<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title_browser %}
    <title>Ferretería Santa Lucía | Mantenimientos | Fecha Pago | Registrar </title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>FECHAS DE PAGO</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_payment_date_base_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_ops_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._ops_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_orm_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._orm_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main-->
{% block container %}
<div class="mb-3">

    <div class="row">
        <!--Left Main Menu-->
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Actualizar Fechas de Pago</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="folder-plus"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Completar los espacios requeridos del formulario continuación para efectuar la actualización
                            de fechas de pago al sistema. Por favor, validar que la información sea congruente.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Right Main Menu-->
        <div class="col-md-8 col-xl-9">
            <div class="card mb-3">
                <div class="card-body text-start">

                    <!--Payment Date Form -->
                    <form id="id_payment_date_form" method="post"
                          action="{{ url_for('posting_app_payment_date_update_endpoint') }}" novalidate>

                        <!--Hidden Input Field-->
                        <input type="hidden" value="PUT" name="method">
                        <input type="hidden" value="{{ params.id }}" name="id">
                        <input type="hidden" value="" id="id_payment2_hidden" name="payment2_hidden">

                        <h5 class="card-title my-3 text-start"><strong>Información de Fecha de Pago</strong></h5>

                        <!--Payment Date Field Groups-->
                        <div class="row">

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">* Tipo Jornada</label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-select mb-2" id="id_payment_frecuency"
                                                    name="payment_frecuency" style="color: cadetblue;">
                                                <option value="not_select" selected>Seleccionar frecuencia de pago</option>
                                                <option value="Quincenal">Quincenal</option>
                                                <option value="Mensual">Mensual</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Error Message Div-->
                                    <div id="id_frecuency_not_selected_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!--Schedule Field Groups-->
                        <div class="row">

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">* Fecha de Pago</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="id_payment_date"
                                            name="payment_date" style="font-size: 12px; color: cadetblue;">
                                    </div>

                                    <!-- Schedule Start Field Error Message -->
                                    <div id="id_payment_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>
                                    <div id="id_payment_after_payment2_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                    <!--Span label-->
                                    <div id="id_payment_date_text_info" class="form-text text-start">
                                        <span class="text-muted fs-8">
                                            <p class="p-0 m-0" style="color: darkgrey">
                                                • Formato de fecha: mm/dd/aaaa.
                                            </p>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">* Segunda Fecha de Pago</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="id_payment2_date"
                                            name="payment2_date" style="font-size: 12px; color: cadetblue;">
                                    </div>

                                    <!-- Schedule Start Field Error Message -->
                                    <div id="id_payment2_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>
                                    <div id="id_payment2_before_payment_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                    <!--Span label-->
                                    <div id="id_payment_date_text_info2" class="form-text text-start">
                                        <span class="text-muted fs-8">
                                            <p class="p-0 m-0" style="color: darkgrey">
                                                • Formato de fecha: mm/dd/aaaa.
                                            </p>
                                        </span>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <p class="py-2" style="color: brown;"><strong> * </strong>Campos obligatorios</p>

                        <!--Submit Form-->
                        <div class="d-grid gap-2 mt-3">
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        <b>ACTUALIZAR FECHA PAGO</b>
                                    </button>
                                </div>
                                <div class="col text-start">
                                    <button class="btn btn-lg btn-secondary" type="reset">
                                        <b>LIMPIAR CAMPOS</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {PaymentDateValidator} from '{{ url_for("static", path="tooling/validators/crud/records/paymentDate.js") }}';
        document.addEventListener('DOMContentLoaded', () => {
            new PaymentDateValidator('id_payment_date_form');
        });
    </script>
{% endblock %}
