<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Planillas | Ajustes </title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PLANILLAS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_payroll_base_endpoint')}}">
            <i class="align-middle" data-feather="credit-card"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_ops_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._ops_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_orm_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._orm_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">
    <div class="row">

        <!--Left Main Menu-->
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Información Planilla</h5>
                    </div>
                    <div class="card-body text-start">
                        <i class="align-start" data-feather="alert-circle"
                            style="color: darkblue; width: 25px; height: 25px;"></i>
                        Complete los campos requeridos en el formulario para ajustar la información de planilla.
                        Es importante mantener esta información actualizada por conceptos de notificaciones y más.
                    </div>
                </div>
            </div>
        </div>

        <!--Right Main Menu-->
        <div class="col-md-8 col-xl-9">
            <div class="card mb-3">
                <div class="card-body text-start">

                    <!--Payroll Update Info Form -->
                    <form id="id_payroll_deduction_form" method="post"
                          action="{{ url_for('posting_app_payroll_adjust_endpoint') }}" novalidate>

                        <h5 class="card-title my-3 text-start"><strong>Deducciones Legales</strong></h5>

                        <!--Hidden fields-->
                        <input type="hidden" value="{{ params.id }}" name="id">

                        <!--Legal deductions Field-->
                        <div class="row">
                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">CCSS IVM</label> *
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_ccss_ivm"
                                                name="ccss_ivm" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_ccss_ivm_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_ccss_ivm_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">CCSS EME</label> *
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_ccss_eme"
                                                name="ccss_eme" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_ccss_eme_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_ccss_eme_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">ROP Banco Popular</label> *
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_rop_popular"
                                                name="rop_popular" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_rop_popular_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_rop_popular_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">Impuesto de Renta</label> *
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_rent_tax"
                                                name="rent_tax" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_rent_tax_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_rent_tax_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0">
                                            • De no aplicar el monto, ingresar 0 CRC.</p>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <h5 class="card-title my-3 text-start"><strong>Otras Deducciones</strong></h5>

                        <!--Other deductions Field-->
                        <div class="row">
                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">Prestamos</label> (Opcional)
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_loan_request"
                                                name="loan_request" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_loan_request_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_loan_request_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text0" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0">
                                            • De no aplicar el monto, ingresar 0 CRC.</p>
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">Pensión Alimenticia</label> (Opcional)
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_child_support"
                                                name="child_support" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_child_support_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_child_support_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text1" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0">
                                            • De no aplicar el monto, ingresar 0 CRC.</p>
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">Asociación</label> (Opcional)
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_association"
                                                name="association" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_association_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_association_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text2" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0">
                                            • De no aplicar el monto, ingresar 0 CRC.</p>
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center"
                                            style="color: #3371db;">Otros</label> (Opcional)
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="id_other_deductions"
                                                name="other_deductions" style="font-size: 12px; color: cadetblue;"
                                                placeholder="0.0 CRC" required>
                                    </div>
                                </div>

                                <!--Province Validation Errors Field-->
                                <div id="id_other_deductions_blank_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_other_deductions_chars_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text3" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0">
                                            • De no aplicar el monto, ingresar 0 CRC.</p>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <!--Payroll Details Field-->
                        <div class="row">
                            <div class="py-3 text-start">
                                <label class="form-label text-center"
                                       style="color: #3371db;">Detalle Planilla</label> *
                                <div class="input-group">
                                    <textarea class="form-control" id="id_payroll_details"
                                              name="payroll_details" rows="2" style="color: cadetblue;"
                                              placeholder="Ingresar detalle de planilla registrada"></textarea>
                                </div>

                                <div id="id_payroll_details_blank_field_error"
                                     class="text-danger text-start"
                                     style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_payroll_details_chars_field_error"
                                     class="text-danger text-start"
                                     style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_payroll_details_length_field_error"
                                     class="text-danger text-start"
                                     style="font-size: 13px; display: none;">
                                </div>

                            </div>
                        </div>

                        <p class="py-2" style="color: brown;"><strong> * </strong>Campos obligatorios</p>

                        <!--Submit Form-->
                        <div class="d-grid gap-2 mt-3">
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        <b>ADJUSTAR INFORMACION</b>
                                    </button>
                                </div>
                                <div class="col text-start">
                                    <button class="btn btn-lg btn-info" type="reset">
                                        <b>LIMPIAR CAMPOS</b>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {AdjustValidator} from '{{ url_for("static", path="tooling/validators/services/payroll.js") }}';
        document.addEventListener('DOMContentLoaded', () => {
            new AdjustValidator('id_payroll_deduction_form');
        });
    </script>
{% endblock %}
