<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Planillas | Detalles</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PLANILLAS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_payroll_base_endpoint')}}">
            <i class="align-middle" data-feather="credit-card"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">

    <div class="row">

        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Planilla</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="credit-card"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles de la planilla junto con las respectivas deducciones
                            por ley y/o conceptos varios. El reporte puede ser descargado en formato PDF.
                        </div>
                        <!--Download PDF Button-->
                        <a class="mb-3 px-3 text-end"
                           href="{{ url_for('posting_app_payroll_details_pdf_endpoint', id=params.id) }}">
                            <button class="btn btn-secondary" type="button">Descargar PDF</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row g-4">

        <!-- Resumen de Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Resumen de Pago</h5>

                    <!-- Gross & Net -->
                    <div class="mb-4 fs-6">
                        <p class="mb-2"><strong>Monto Bruto:</strong>
                            {{ "{:,.2f}".format(params.record._gross_income) }} CRC </p>
                        <p class="mb-0"><strong>Monto Neto:</strong>
                            {{ "{:,.2f}".format(params.record._net_amount) }} CRC </p>
                    </div>

                    <hr>

                    <!-- Deductions -->
                    <h6 class="text-uppercase text-muted mb-3 fs-6">Deducciones</h6>
                    <ul class="list-unstyled fs-6 mb-4">
                        <li class="mb-2">🩺 CCSS IVM: {{ "{:,.2f}".format(params.record._ccss_ivm) }} CRC </li>
                        <li class="mb-2">🧓 CCSS EME: {{ "{:,.2f}".format(params.record._ccss_eme) }} CRC </li>
                        <li class="mb-2">🏦 ROP: CCSS EME: {{ "{:,.2f}".format(params.record._rop) }} CRC </li>
                        <li class="mb-2">🏦 IMPUESTO RENTA: {{ "{:,.2f}".format(params.record._renta_tax) }} CRC </li>
                    </ul>

                    <h6 class="text-uppercase text-muted mb-3 fs-6">Otras Deducciones</h6>
                    <ul class="list-unstyled fs-6 mb-0">
                        <li class="mb-2">💳 Préstamos: {{ "{:,.2f}".format(params.record._debts) }} CRC</li>
                        <li class="mb-2">💳 Pensión Alimentaria: {{ "{:,.2f}".format(params.record._child_support) }} CRC</li>
                        <li class="mb-2">💳 Asociasión Solidarista: {{ "{:,.2f}".format(params.record._association) }} CRC</li>
                        <li class="mb-2">💳 Otros: {{ "{:,.2f}".format(params.record._others) }} CRC</li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Detalles del Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Detalles del Pago</h5>

                    <ul class="list-unstyled fs-6 mb-0">
                        <li class="mb-2"><strong>Empleado:</strong>
                            {{ params.record._emp_name }} {{ params.record._emp_lastname }}
                            {{ params.record._emp_lastname2 }} </li>
                        <li class="mb-2"><strong>Jefatura:</strong>
                            {{ params.record._apr_name }} {{ params.record._apr_lastname }}
                            {{ params.record._apr_lastname2 }} </li>
                        <li class="mb-2"><strong>Fecha de Pago:</strong> {{ params.record._date_payment }} </li>
                        <li class="mb-2"><strong>Segunda Fecha de Pago:</strong> {{ params.record._date_payment2 }} </li>
                        <li class="mb-2"><strong>Frecuencia:</strong> {{ params.record._frecuency }}</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
