<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title_browser %}
    <title>Ferretería Santa Lucía | Módulos | Planillas | Generación </title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PLANILLAS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_payroll_base_endpoint')}}">
            <i class="align-middle" data-feather="book"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_ops_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._ops_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_orm_error" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._orm_error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif params.fg == "_fail" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._payroll._period}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main-->
{% block container %}
<div class="mb-3">

    <div class="row">
        <!--Left Main Menu-->
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Generar Planillas</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="book"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Seleccionar el periodo determinado para la generación de planillas. Tomar en consideración
                            que los usuarios sin completar sus registros de jornadas o marcas y salidas
                            no se tomaran en cuenta para el cálculo..
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Right Main Menu-->
        <div class="col-md-8 col-xl-9">
            <div class="card mb-3">
                <div class="card-body text-start">

                    <!--Payroll Generate Form -->
                    <form id="id_payroll_generate_form" method="post"
                          action="{{ url_for('posting_app_payroll_generate_endpoint') }}" novalidate>

                        <!--Hidden Input Field-->
                        <input type="hidden" value="POST" name="method">

                        <h5 class="card-title my-3 text-start"><strong>Información de Planilla</strong></h5>

                        <!--Roles Field Groups-->
                        <div class="row">

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">*
                                    Periodo Planilla</label>
                                    <div class="input-group">
                                        <select class="form-select mb-2" id="id_payroll_period" name="payroll_period"
                                                style="color: cadetblue;">
                                            <option value="not_select" selected>
                                                Seleccionar periodo de planilla </option>
                                            {% for key, value in params.periods.items() %}
                                                <option value="{{ value }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--Error Message Div-->
                                    <div id="id_payroll_period_status_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                    <!--Span label-->
                                    <div id="id_payroll_period_status_label" class="form-text text-start">
                                        <span class="text-muted fs-8">
                                            <p class="p-0 m-0" style="color: darkgrey;">
                                                • Se debe seleccionar un periodo.
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="py-2" style="color: brown;"><strong> * </strong>Campos obligatorios</p>

                        <!--Submit Form-->
                        <div class="d-grid gap-2 mt-3">
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-lg btn-info" type="submit">
                                        <b>GENERAR PLANILLAS</b>
                                    </button>
                                </div>
                                <div class="col text-start">
                                    <button class="btn btn-lg btn-secondary" type="reset">
                                        <b>LIMPIAR CAMPOS</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {GeneratePayrollValidator} from '{{ url_for("static", path="tooling/validators/services/genPayroll.js") }}';
        document.addEventListener('DOMContentLoaded', () => {
            new GeneratePayrollValidator('id_payroll_generate_form');
        });
    </script>
{% endblock %}
