<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Planillas</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_update" %}
        <div class="px-1 pt-2">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{params.ops._payroll._update}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">
    <div class="row">

        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Registro De Planillas</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="credit-card"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Consulta de histórico de planillas realizadas hasta la fecha actual.
                        </div>
                        {% if params.role == "Administrador"%}
                            <!--Register Checkin Button-->
                            <a class="mb-3 px-3 text-start" href="{{ url_for('getting_app_payroll_generate_endpoint') }}">
                                <button class="btn btn-warning"><b>Generar Planillas</b></button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        </div>

        <div class="row">

            <!--Breakdown Table-->
            <div class="col">
                <div class="col align-self-start text-start mt-3">
                    <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col">Cod Registro</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Jefatura</th>
                            <th scope="col">Frecuencia</th>
                            <th scope="col">Periodo Pago</th>
                            <th scope="col" colspan="1"
                                style="text-align: center; vertical-align: middle;">Consultar
                            </th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in params.records %}
                            <tr>
                                <th scope="row"><b></b>{{ item._id }}</th>
                                <td>{{ item._subj_ident }}</td>
                                <td>{{ item._subj_name }} {{ item._subj_lastname }} {{ item._subj_lastname2 }}</td>
                                <td>{{ item._appr_name }} {{ item._appr_lastname }} {{ item._appr_lastname2 }}</td>
                                <td>{{ item._frecuency }}</td>
                                <td>{{ item._period_date.strftime("%d-%m-%Y") }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_payroll_details_endpoint', id=item._id)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Consultar Detalles
                                    </a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_payroll_adjust_endpoint', id=item._id)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Ajustar Planilla
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import { FilterSearching } from "{{url_for('static', path='tooling/utils/filtering.js')}}";
        document.addEventListener("DOMContentLoaded", () => {
            let filtering = new FilterSearching(
                {"input": "id_input_field", "search":"id_filter_button", "reset": "id_reset_button", "row": 2}
            );
        });
    </script>
{% endblock %}
