<!--Inherit-->
{% extends "base/auth.html" %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_fail" %}
        <div class="px-1 pt-2">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>{{params.ops._session._fail._error}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--login form-->
{% block login_form %}
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-start">
                    <div class="text-center mt-4">
                        <img src="{{url_for('static', path='static/ap_img/avatars/ferreteria_logo.jpg')}}" alt="Ferr Logo"
                             class="img-fluid" style="border-radius: 5px; max-height: 120px;">
                        <h1 class="h2 py-2">Ferretería Santa Lucía </h1>
                        <p class="lead" style="font-size: 12px;">
                            Restablecer Contraseña
                        </p>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <!--Password Reset Form-->
                            <form id="id_reset_form" novalidate>

                                <!--Hidden Input Fields-->
                                <input type="hidden" value="POST" name="method">

                                <!--Identification Field-->
                                <div class="col">
                                    <div class="py-1 text-start">
                                        <label class="form-label text-center" style="color: #3371db;">* Confirmar Identificación</label>
                                        <div class="input-group">
                                            <div class="input-group">
                                                <input type="text" id="id_user_identification" class="form-control"
                                                       style="font-size: 12px; color: cadetblue"
                                                       placeholder="---"
                                                       name="user_identification">
                                            </div>
                                        </div>

                                        <!--Error Message Div-->
                                        <div id="id_identification_blank_field_error" class="text-danger text-start"
                                            style="font-size: 13px; display: none;">
                                        </div>
                                        <div id="id_identification_chars_field_error" class="text-danger text-start"
                                            style="font-size: 13px; display: none;">
                                        </div>
                                        <div id="id_identification_length_field_error" class="text-danger text-start"
                                            style="font-size: 13px; display: none;">
                                        </div>

                                        <!--Query Exception-->
                                        {% if params.exc == "_identification" %}
                                            <div id="id_identification_exception_error" class="text-danger text-start"
                                                style="font-size: 13px; display: block;">
                                                {{ params.ops._session._fail._ident }}
                                            </div>
                                        {% endif %}

                                        <!--Span label-->
                                        <div id="id_user_identification_text_info" class="form-text text-start">
                                            <span class="text-muted fs-8">
                                                <p class="p-0 m-0" style="color: darkgrey;">
                                                    • La identificación debe contener números únicamente.
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!--Temporal Password Field-->
                                <div class="py-2 text-start">
                                    <label class="form-label text-center"
                                        style="color: #3371db;">Ingresar Contraseña Temporal</label>
                                    <div class="input-group">
                                        <span class="input-group-text" style="font-size: 12px;">
                                            <i data-feather="lock"></i>
                                        </span>
                                        <input type="password" class="form-control text-start fs-8"
                                               id="id_temp_password_field" aria-describedby="emailHelp"
                                               style="font-size: 14px; color: #3371db;" placeholder="*** *** ***"
                                               name="temp_password_field">
                                        <button type="button" class="btn btn-outline-info"
                                                id="id_password_temp_bttn" style="font-size: 12px;">
                                            <i class="align-middle" data-feather="eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <!--Temp Password Errors Field-->
                                <div id="id_temp_password_blank_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>

                                {% if params.exc == "_temp_password" %}
                                    <div id="id_temp_password_exception_error" class="text-danger text-start"
                                        style="font-size: 13px; display: block;">
                                        {{ params.ops._session._temp_password }}
                                    </div>
                                {% endif %}

                                <!--New Password Field-->
                                <div class="py-2 text-start">
                                    <label class="form-label text-center"
                                        style="color: #3371db;">Ingresar Contraseña Nueva</label>
                                    <div class="input-group">
                                        <span class="input-group-text" style="font-size: 12px;">
                                            <i data-feather="lock"></i>
                                        </span>
                                        <input type="password" class="form-control text-start fs-8"
                                               id="id_new_password_field" aria-describedby="emailHelp"
                                               style="font-size: 14px; color: #3371db;" placeholder="*** *** ***"
                                               name="new_password_field">
                                        <button type="button" class="btn btn-outline-info"
                                                id="id_new_password_bttn" style="font-size: 12px;">
                                            <i class="align-middle" data-feather="eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <!--Temp Password Errors Field-->
                                <div id="id_new_password_blank_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_new_password_length_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_new_password_format_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>

                                <div id="new_password_text" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="p-0 m-0"> • La contraseña debe contener mínimo 9 caracteres.</p>
                                        <p class="p-0 m-0"> • La contraseña debe contener al menos un número y un signo de puntuación.</p>
                                        <p class="p-0 m-0"> • La contraseña debe contener letras Mayúsculas y Minúsculas.</p>
                                    </span>
                                </div>

                                <!--Confirm Password Field-->
                                <div class="py-2 text-start">
                                    <label class="form-label text-center"
                                        style="color: #3371db;">Confirmar Contraseña</label>
                                    <div class="input-group">
                                        <span class="input-group-text" style="font-size: 12px;">
                                            <i data-feather="lock"></i>
                                        </span>
                                        <input type="password" class="form-control text-start fs-8"
                                               id="id_confirm_password_field" aria-describedby="emailHelp"
                                               style="font-size: 14px; color: #3371db;" placeholder="*** *** ***"
                                               name="confirm_password_field">
                                        <button type="button" class="btn btn-outline-info"
                                                id="id_confirm_password_bttn" style="font-size: 12px;">
                                            <i class="align-middle" data-feather="eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <!--Temp Password Errors Field-->
                                <div id="id_confirm_password_blank_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_confirm_password_mismatch_field_error" class="text-danger text-start"
                                    style="font-size: 13px; display: none;">
                                </div>

                                <!--Submit Form-->
                                <div class="d-grid gap-2 mt-3">
                                    <button class="btn btn-lg btn-primary" type="submit" id="id_login_btn">
                                        <b>GENERAR</b>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="text-center mb-3">
                        ¿Ya cuenta con correo electrónico y/o contraseña?
                        <a href="{{url_for('getting_app_user_login_endpoint')}}">Iniciar Sesión</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}