<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Aguinaldo | Detalles</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>AGUINALDOS</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{ url_for('getting_app_bonus_base_endpoint')}}">
            <i class="align-middle" data-feather="dollar-sign"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_download" %}
        <div class="px-1 pt-2">
            <div class="alert alert-primary d-flex align-items-start" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{ params.ops._bonus._download }}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">

    <div class="row">

        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Detalles De Aguinaldo</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="dollar-sign"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Se presentan continuación los detalles de las cuotas de aguinaldo junto con el periodo
                            por ley y/o conceptos varios. El reporte puede ser descargado en formato PDF.
                        </div>
                        <!--Download PDF Button-->
                        <a class="mb-3 px-3 text-end"
                           href="{{ url_for('posting_app_bonus_details_pdf_endpoint', id=params.id) }}">
                            <button class="btn btn-secondary" type="button">Descargar PDF</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row g-4">

        <!-- Resumen de Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Totalidad de Cuotas</h5>

                    <!-- Gross & Net -->
                    <div class="mb-4 fs-6">
                        <p class="mb-2">Monto Total a la fecha:
                            <strong>{{ "{:,.2f}".format(params.record._total_amount) }} CRC</strong>
                        </p>
                    </div>

                    <hr>

                    <!-- Deductions -->
                    <h6 class="text-uppercase text-muted mb-3 fs-6">Desgloce Cuota</h6>
                    <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Cod</th>
                                <th scope="col">Monto Mensual</th>
                                <th scope="col">Mes de Cuota</th>
                                <th scope="col">Año de Cuota</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in params.quotas %}
                                <tr>
                                    <th scope="row"><b></b>{{ item._id }}</th>
                                    <td>{{ "{:,.2f}".format(item._month_amount) }}</td>
                                    <td>{{ item._month }}</td>
                                    <td>{{ item._year }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Detalles del Pago -->
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">

                    <h5 class="card-title fw-bold mb-4 text-slight-blue fs-5">Detalles Laborales</h5>

                    <ul class="list-unstyled fs-6 mb-0">
                        <li class="mb-2"><strong>Identificación:</strong>
                           {{ params.record._ident }} </li>
                        <li class="mb-2"><strong>Empleado:</strong>
                           {{ params.record._emp_name }} {{ params.record._emp_lastname }}
                            {{ params.record._emp_lastname2 }} </li>
                        <li class="mb-2"><strong>Jefatura:</strong>
                            {{ params.record._apr_name }} {{ params.record._apr_lastname }}
                            {{ params.record._apr_lastname2 }}
                        </li>
                        <li class="mb-2"><strong>Fecha de Contratación:</strong>
                            {{ params.record._hire_date }}
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
{% endblock %}
