<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Módulos | Aguinaldos</title>
{% endblock %}

<!--sidebar menu-->
{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-header"> <b>PRINCIPAL</b> </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('getting_app_home_page_endpoint')}}">
            <i class="align-middle" data-feather="settings"></i>
            <span class="align-middle">Regresar</span>
        </a>
    </li>
</ul>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}
    {% if params.fg == "_update" %}
        <div class="px-1 pt-2">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>{{params.ops._bonus._update}}</div>
                <div class="col text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<!--main form-->
{% block container %}
<div class="mb-3">
    <div class="row">

        <!--Title and Filter-->
        <div class="col">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2 class="card-title mb-0">Registro De Aguinaldos</h2>
                        </div>
                        <div class="card-body text-start">
                            <i class="align-start" data-feather="dollar-sign"
                               style="color: darkblue; width: 25px; height: 25px;"></i>
                            Consulta de histórico de cuotas de aguinaldos realizadas hasta la fecha actual.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!--Filter By Role Type-->
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body" style="width: 25%;">
                        <form id="id_filter_role_type_form" novalidate>
                            <div class="mb-2">
                                <h5 class="card-title mb-2">Ingresar Identificación de Usuario</h5>
                                <input type="text" class="form-control" style="font-size: 12px; color: cadetblue;"
                                       required placeholder="0-0000-0000" name="entity_identification"
                                       id="id_input_field">
                                <!--Span label-->
                                <div id="identification_text" class="form-text text-start">
                                    <span class="text-muted">
                                        <p class="my-2" style="color: brown; font-size: 12px;">
                                            • Ingresar números únicamente.
                                        </p>
                                    </span>
                                </div>
                                <button class="btn btn-info mt-2" type="button" id="id_filter_button">
                                    Consultar
                                </button>
                                <button class="btn btn-secondary mt-2" type="reset" id="id_reset_button">
                                    Limpiar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!--Breakdown Table-->
            <div class="col">
                <div class="col align-self-start text-start mt-3">
                    <table class="table" style="border-collapse: separate; border-spacing: 0; border-radius: 8px;">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Cod Registro</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Jefatura</th>
                                <th scope="col">Mes</th>
                                <th scope="col">Año</th>
                                <th scope="col">Fecha de Registro</th>
                                <th scope="col" colspan="1"
                                    style="text-align: center; vertical-align: middle;">Administrar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in params.records %}
                            <tr>
                                <th scope="row"><b></b>{{ item._id }}</th>
                                <td>{{ item._ident }}</td>
                                <td>{{ item._emp_name }} {{ item._emp_name }} {{ item._emp_name }}</td>
                                <td>{{ item._apr_name }} {{ item._apr_lastname }} {{ item._apr_lastname2 }}</td>
                                <td>{{ item._month }}</td>
                                <td>{{ item._year }}</td>
                                <td>{{ item._log_date.date() }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_bonus_details_endpoint', id=item._id)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Detalles
                                    </a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{{url_for('getting_app_bonus_adjust_endpoint', id=item._id)}}">
                                        <i class="align-center" data-feather="refresh-ccw"></i>
                                        Ajustar Monto
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import { FilterSearching } from "{{url_for('static', path='tooling/utils/filtering.js')}}";
        document.addEventListener("DOMContentLoaded", () => {
            let filtering = new FilterSearching(
                {"input": "id_input_field", "search":"id_filter_button", "reset": "id_reset_button", "row": 2}
            );
        });
    </script>
{% endblock %}
